@if (match){
<div class="bg-white transition-all hover:bg-blue-500 hover:text-white hover:border-b-orange-300 card h-full shadow border rounded-xl border-b-8 border-b-blue-400 cursor-pointer p-3 space-y-2">
       
    <div class="py-3  border-b-2">
        <h1 class="font-bold">{{match.teamHeading }}</h1>
        <p class="font-light">{{match.matchNumberVenue}}</p>
    </div>
    <div class="body mt-4">
    <div class="flex justify-between px-2">
     <h1 class="font-bold text-gray-600">{{match.battingTeam}}</h1>
     <h1 class="font-bold">{{match.battingTeamScore}}</h1>
    </div>
    <div class="flex justify-between px-2">
     <h1 class="font-bold text-gray-600">{{match.bowlTeam}}</h1>
     <h1 class="font-bold">{{match.bowlTeamScore}}</h1>
    </div></div>
    <div >
     <p class="text-red-500">{{match.liveText}}</p>
     <p class="text-green-800">{{match.textComplete}}</p>
    </div>
 </div>
}